<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jack.xposed.tos">

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@android:style/Theme.Holo.Light.DarkActionBar">

        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposedminversion"
            android:value="54"/>
        <meta-data
            android:name="xposeddescription"
            android:value="Xposed module for ToS v7.01"/>

    </application>

</manifest>
